<footer class="footer">
  <div class="footer__container">
    <div class="footer__linkBox">
      <a href=''>
        Haqqımızda
      </a>
      <a href=''>
        Zavodlar
      </a>
      <a href=''>
        Our Brands
      </a>
      <a href=''>
        Who We Are
      </a>
      <a href=''>
        Who We Are
      </a>
    </div>
    <div class="footer__endBox">
      <span>
        Connect With Us:
      </span>
      <a href='#'>
        <i class="fab fa-instagram"></i>
      </a>
      <a href='#'>
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href='#'>
        <i class="fab fa-linkedin"></i>
      </a>
      <a href='#'>
        Email Alerts
        <i class="far fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
  integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
  crossorigin="anonymous"></script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>