<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
    <header class="microsite-stage">
        <div class="microsite-stage__background-wrapper">
            <div class="microsite-stage__background-inner-wrapper"><img
                    class="responsive-image slideshow-video-background__image" alt="AP-21FS443ZH1W12_news.jpg"
                    srcset="https://res.cloudinary.com/rbmh-platforms/image/upload/w_450,h_800,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 450w,https://res.cloudinary.com/rbmh-platforms/image/upload/w_600,h_1066,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 600w,https://res.cloudinary.com/rbmh-platforms/image/upload/w_800,h_1422,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 800w, https://res.cloudinary.com/rbmh-platforms/image/upload/w_1200,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 1200w,https://res.cloudinary.com/rbmh-platforms/image/upload/w_1600,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 1600w,https://res.cloudinary.com/rbmh-platforms/image/upload/w_2000,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg 2000w, "
                    src="https://res.cloudinary.com/rbmh-platforms/image/upload/w_1000,c_fill,g_auto/rbjobs/staging/knndd2jnamsyfyurcq2l.jpg"
                    sizes="100vw"></div>
        </div>
        <div class="microsite-stage__content-wrapper">
            <h1 class="microsite-stage__heading">Kick-start your career</h1>
            <h3 class="microsite-stage__subheading">Enter the World of Red&nbsp;Bull and gain hands-on experience,
                exposure and the opportunity to shape your future</h3>
        </div>
    </header>